extends layout

block content
  h1= title
  p Welcome to #{title}

  a.class#ID(href='projects')
    | Projects 
  a.class#ID(href='services')
    | Services 
  a.class#ID(href='about_me')
    | About Me 
  a.class#ID(href='contact_me')
    | Contact 